html, body {
    height: 100%; /* Tüm yüksekliği kaplar */
    margin: 0; /* Varsayılan marginleri sıfırlar */
    padding: 0; /* Varsayılan paddingleri sıfırlar */
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

body::before {
    content: '';
    background-image: url('../images/events.jpg');
    background-size: cover; /* Arka plan resmini kaplar */
    background-position: center; /* Resmi ortalar */
    opacity: 0.5; /* Opaklık ayarı */
    position: absolute; /* Konum ayarı */
    top: 0; /* Üstten sıfırdan başlar */
    left: 0; /* Soldan sıfırdan başlar */
    width: 100%; /* Tam genişlikte */
    height: 100%; /* Tam yükseklikte */
    z-index: -1; /* Diğer içeriklerin arkasında */
}

.form-container {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    width: 100%;
}

h2 {
    text-align: center;
    color: #333;
}

p {
    text-align: center;
    color: #666;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input[type="email"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

input[type="submit"] {
    width: 100%;
    padding: 10px;
    background-color: #00Abff; /* Bootstrap success color */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #007bff; /* Darker green on hover */
}

#success-message {
    display: none;
    color: blue;
    text-align: center;
    margin-top: 20px;
    font-weight: bold;
}
