* {
    margin: 0;
    padding: 0;
    /*box-sizing: border-box;*/
    font-family: 'Arial', sans-serif;
    transition: all 0.3s ease;
}

body, html {
    margin: 0;
    padding: 0;
    width: 100%; /* Tam genişlik */
    height: 100%; /* Yüksekliği de tam yap */
    color: #333;
    line-height: 1.6;
    font-size: 16px;
}

header {
    display: flex;
    align-items: center; /* Dikey hizalamak için */
    justify-content: space-between; /* Alanı eşit dağıtmak için */
    background: linear-gradient(to right, #0036b3, #00Abff); /* Koyu mavi (#0056b3) dan açık mavi (#007bff) ye geçiş */
    color: black;
    padding: 15px 0px;
    width: 100%; /* Header'ın genişliğini %100 yap */
}

h1 {
    font-size: 48px;
    color: white;
    text-align: left;
    padding-left: 20px; /* Sol boşluk ekleyin */
    margin: 5px 0;
    font-weight: bold;
}

nav {
    padding: 20px;
    display: flex;
    justify-content: start;
    flex-grow: 1;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 0px 0px 0px 30px;
    padding: 0;
    align-items: center;
    justify-content: start;
    flex-grow: 1;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.event-action {
    margin-right: 10px;
    padding: 10px;
    border: 1px solid #fff;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.event-info {
    font-size: 1em;
    color: #fff;
    margin-top: 10px;
    text-align: left;

}

.add-event-button {
    background-color: #002bff;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 15px;
    transition: background-color 0.3s;
}

.add-event-button:hover {
    background-color: #0056b3;
}

.notification-button {
    background-color: transparent;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    top: 10px;
    right: 10px;
}

.notification-container {
    position: relative;
    display: inline-block;
    top: -35px;
    left: 50px;
}

.notification-button:hover {
    background-color: transparent;
}

.notifications-list {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-height: 300px;
    overflow-y: auto;
    width: 250px;
    padding: 10px;
}

.notifications-list ul {
    list-style-type: none;
    padding: 0;
}

.notifications-list ul li {
    padding: 8px;
    border-bottom: 1px solid #ddd;
}

.notifications-list ul li:last-child {
    border-bottom: none;
}

.notifications-list p {
    font-style: italic;
    color: #888;
}