body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

.container {
    max-width: 1800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

h1
{
    text-align: center;
}

.event-list h2 {
    text-align: center;
    color: #333;
    font-size: 32px;
    margin-bottom: 20px;
}

.event-table {
    width: 100%;
    border-collapse: collapse;
}

.event-table th, .event-table td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}

.event-table th {
    background-color: #007bff;
    color: white;
    font-size: 14px;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.event-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.event-table tr:hover {
    background-color: #f1f1f1;
}

.event-table td {
    font-size: 14px;
}

.event-table td:nth-child(3) {
    width: 350px;
}

.event-table td:nth-child(7) {
    width: 350px;
}

.approved {
    color: #28a745;
    font-weight: bold;
}

.pending {
    color: #ffc107;
    font-weight: bold;
}

.action-button, .delete-button {
    padding: 8px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    margin: 5px;
    width: 70px;
}

.action-button {
    background-color: #007BFF;
    color: white;
}

.action-button:hover {
    background-color: #0056b3;
}

.delete-button {
    background-color: #dc3545;
    color: white;
}

.delete-button:hover {
    background-color: #c82333;
}

form {
    display: inline-block;
}

@media (max-width: 768px) {
    .event-table th,
    .event-table td {
        font-size: 12px;
        padding: 10px;
    }

    .action-button, .delete-button {
        padding: 6px 12px;
        font-size: 12px;
    }

    .event-list h2 {
        font-size: 24px;
    }
}

.logout-section {
    text-align: right;
    margin: 20px;
}

.logout-btn {
    padding: 12px 24px;
    font-size: 16px;
    font-weight: bold;
    background-color: #dc3545;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s;
}

.logout-btn:hover {
    background-color: #c82333;
    transform: translateY(-2px);
}

.logout-btn:active {
    background-color: #bd2130;
    transform: translateY(0);
}

.admin-navigation-buttons {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
}

.admin-nav-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

.admin-nav-btn:hover {
    background-color: #0056b3;
}