<!DOCTYPE html>
<html lang="tr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Şifremi Unuttum</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='/css/forgetPassword_style.css') }}">
    <script>
        function handleSubmit(event)
        {
            event.preventDefault();

            const emailInput = document.getElementById("email").value;
            if (emailInput)
            {
                document.getElementById("success-message").style.display = "block";
            }
        }
    </script>
</head>
<body>
    <div class="form-container">
        <h2>Şifremi Unuttum</h2>
        <p>Lütfen hesabınıza kayıtlı e-posta adresinizi girin. Size şifre sıfırlama talimatları göndereceğiz.</p>
        <div id="success-message" style="display: none; color: blue ;">
            Talep başarıyla gönderildi! E-posta adresinize şifre sıfırlama talimatları gönderilecektir.
        </div>
        <form onsubmit="handleSubmit(event)">
            <div class="form-group">
                <label for="email">E-posta Adresi:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <div class="form-group">
                <input type="submit" class="submit-btn" value="Şifre Sıfırlama Talebi Gönder">
            </div>
        </form>
    </div>
</body>
</html>
